<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <script>
        function f_register() {
            location.href = "/board/register";
        }
    </script>
    <style>
        table, tr, th, td {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div th:include="header :: header"></div><!-- fragment의 내용을 가져옴 -->

    <h1>Board List</h1>

    <div>
        <span th:text="'Totalcount : ' + ${totalCount}">0</span>
    </div>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>content</th>
            <th>createdDate</th>
            <th>modifiedDate</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${list}">
                <td th:text="${board.id}"></td>
                <td><a th:text="${board.title}" th:href="@{/board/view/{id}(id=${board.id})}"></a></td>
                <td th:text="${board.content}"></td>
                <td th:text="${board.createdDate}"></td>
                <td th:text="${board.modifiedDate}"></td>
            </tr>
        </tbody>
    </table>

    <hr />

    <button onclick="f_register();">등록</button>

    <div th:include="footer :: footer"></div>
</body>
</html>